.fixed-top {
    top: 0;
}

.form-control:focus {
    border-color: #e5e5e5;
}

.not-validated {
    border-color: #e91e63;
    outline: 0;
    box-shadow: none;
}

.error-message {
    color: #e91e63;
}

textarea::placeholder,
input::placeholder {
    color: #ccc !important;
}

input#image_src {
    display: none;
}

.login-error {
    margin-bottom: 15px;
}

footer p {
    font-size: 16px;
}

.dashboard-wrapper td.photo {
    margin-top: -1px;
}


button.btn-delete {
    cursor: pointer;
    border: none;
}

.section-padding {
    padding-top: 100px;
}

.navbar {
    box-shadow: 0 3px 6px 3px rgb(0 0 0 / 6%);
}

.account-btn a {
    background-color: #fff;
    border: 1px solid #e91e63;
    color: #e91e63;
}

.account-btn:hover a {
    /*background: #e91e63;*/
    color: #e91e63;
}


.uploaded-image {
    width: 200px;
    margin-top: 15px;
    margin-bottom: 30px;
    margin-right: 30px;
}

.change-image a {
    color: #fff!important;
}

.alert-success {
    padding: 10px;
    margin-bottom: 15px;
}

a:not([href]):not([tabindex]):hover,
a:not([href]):not([tabindex]) {
    color: #e91e63;
}


.post-btn.active a {
    background-color: #e91e63;
    color: #fff;
}

.navbar-brand img {
    width: 150px;
}

.navbar-expand-lg .navbar-nav .nav-link {
    color: #333;
}

.dashboard-box .dashbord-title {
    float: none;
}


.hidden-upload {
    display: none;
}

