.fixed-top {
    top: 0;
}

.form-control:focus {
    border-color: #e5e5e5;
}

.not-validated {
    border-color: #e91e63;
    outline: 0;
    box-shadow: none;
}

.error-message {
    color: #e91e63;
}

textarea::placeholder,
input::placeholder {
    color: #ccc!important;
}

input#image_name {
    display: none;
}


.login-error {
    margin-bottom: 15px;
}
